:root {
    --font-handwritten: 'Dancing Script', cursive;
    --font-headers: 'Playfair Display', serif;
    --font-descriptions: 'Raleway', sans-serif;
    --light-grey: #838181;
    --lighter-grey: #848282;
    --grey: #696969;
    --coral: #d07c7c;
    --dark-grey: #5a5957;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 25px 25px 0 25px;
    background-color: white;
}

li {
    list-style: none;
    text-decoration: none;
}

a, a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

.landing {
    background-image: url(IMG/landing-background.jpg);
    background-size: cover;
    height: calc(100vh - 25px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.landing__title {
    font-family: var(--font-handwritten);
    font-size: 33px;
    font-style: italic;
    width: 150px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 50px;
}

.landing__title span {
    font-size: 23px;
    text-align: center;
}

.landing__subtitle {
    font-family: var(--font-headers);
    font-size: 48px;
}

.landing__subtitle::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: white;
    margin: 30px auto;
}

.landing__description {
    font-family: var(--font-descriptions);
    font-size: 16px;
    width: 450px;
    text-align: center;
    line-height: 23px;
}

.landing__arrow {
    position: absolute;
    left: calc(50% - 8px);
    bottom: 70px;
    width: 16px;
    height: 18px;
    background-image: url(IMG/arrow.png);
    background-size: cover; 
}

.navigation {
    position: sticky;
}

.navigation__container {
    display: flex;
    justify-content: space-between; 
    padding: 20px 50px 15px 50px;
    align-items: center;
}

.navigation__name {
    width: 50%;
    font-family: var(--font-handwritten);
    font-size: 22px;
    padding-bottom: 5px;
    color: var(--light-grey);
}

.navigation__item {
    font-family: var(--font-descriptions);
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--grey);
    padding-bottom: 5px;
}

.navigation__item:hover {
    border-bottom: solid 2px var(--coral);
    padding-bottom: 3px;
}

.about-me {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me__title, .works__title {
    font-family: var(--font-headers);
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-grey);
}

.about-me__title::after, .works__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--coral);
    margin: 20px auto 30px auto;
}

.about-me__description {
    font-family: var(--font-descriptions);
    font-size: 14px;
    color: var(--lighter-grey);
    text-align: center;
    max-width: 770px;
    line-height: 26px;
}

.works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px repeat(3, calc((100vw - 100px) / 3));
    grid-gap: 25px;
}

.works__title {
    grid-column: -1 / 1;
}

.works__item {
    background-size: cover;
    transition: all 0.5s;
}

.works__item:hover {
    filter: brightness(60%);
}

.nature {
    background-image: url(IMG/nature.jpg);
    grid-column: 1 / 3;
}

.urban {
    background-image: url(IMG/urban.jpg);
    grid-column: 3;
    grid-row: 2 / 4; 
}

.people {
    background-image: url(IMG/people.jpg);
    /*height: calc((100vw - 100px) / 3);*/
}

.wedding {
    background-image: url(IMG/wedding.jpg);
    /*height: calc((100vw - 100px) / 3);*/
}

.architecture {
    background-image: url(IMG/architecture.jpg);
    grid-column: 1 / 3;
}

.animals {
    background-image: url(IMG/animals.jpg);
}




