:root {
    --font-handwritten: 'Dancing Script', cursive;
    --font-headers: 'Playfair Display', serif;
    --font-descriptions: 'Raleway', sans-serif;
    --light-grey: #838181;
    --lighter-grey: #848282;
    --grey: #696969;
    --coral: #d07c7c;
    --dark-grey: #5a5957;
    --rose: #e6b5b5;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 25px 25px 0 25px;
    background-color: white;
}

li {
    list-style: none;
    text-decoration: none;
}

a, a:link, a:visited {
    text-decoration: none;
}


.landing {
    background-image: url(IMG/landing-background.jpg);
    background-size: cover;
    height: calc(100vh - 25px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.landing__title {
    font-family: var(--font-handwritten);
    font-size: 33px;
    font-style: italic;
    width: 150px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 50px;
}

.landing__title span {
    font-size: 23px;
    text-align: center;
}

.landing__subtitle {
    font-family: var(--font-headers);
    font-size: 48px;
}

.landing__subtitle::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: white;
    margin: 30px auto;
}

.landing__description {
    font-family: var(--font-descriptions);
    font-size: 16px;
    width: 450px;
    text-align: center;
    line-height: 23px;
}

.landing__arrow {
    position: absolute;
    left: calc(50% - 8px);
    bottom: 70px;
    width: 16px;
    height: 18px;
    background-image: url(IMG/arrow.png);
    background-size: cover; 
    display: block;
    transition: all .5s;
}

.landing__arrow:hover {
    transform: translateY(10px);
}

.navigation {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
}

.navigation__container {
    display: flex;
    justify-content: space-between;
}

.navigation__list {
    display: flex;
    justify-content: space-between; 
    padding: 20px 50px 15px 50px;
    align-items: center;
    flex-basis: 50%;
}

.navigation__name, .navigation__name:link, .navigation__name:visited {
    flex-basis: 50%;
    font-family: var(--font-handwritten);
    font-size: 22px;
    padding-bottom: 5px;
    color: var(--light-grey);
    display: block;
    padding: 20px 0 15px 50px;
}

.navigation__item {
    font-family: var(--font-descriptions);
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--grey);
    padding-bottom: 5px;
}

.navigation__item a:link, .navigation__item a:visited {
    color: var(--grey);
}

.navigation__item:hover {
    border-bottom: solid 2px var(--coral);
    padding-bottom: 3px;
}

.ham-icon {
    display: none;
    position: relative;
    height: 25px;
    width: 35px;
    margin-top: 20px;
    cursor: pointer;
}

.ham-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: var(--grey);
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.ham-icon span:nth-child(1) {
    top: 0;
}

.ham-icon span:nth-child(2) {
    top: 10px;
}

.ham-icon span:nth-child(3) {
    top: 20px;
}

.ham-icon__open span:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
}

.ham-icon__open span:nth-child(2) {
    opacity: 0;
    left: -20px;
}

.ham-icon__open span:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
}

.about-me {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me__title, .works__title, .follow-me__title, .contact-me__title {
    font-family: var(--font-headers);
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark-grey);
}

.about-me__title::after, .works__title::after, .follow-me__title::after, .contact-me__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--coral);
    margin: 20px auto 30px auto;
}

.about-me__description {
    font-family: var(--font-descriptions);
    font-size: 14px;
    color: var(--lighter-grey);
    text-align: center;
    max-width: 770px;
    line-height: 26px;
}

.works {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px repeat(3, calc((100vw - 100px) / 3));
    grid-gap: 25px;
}

.works__title {
    grid-column: -1 / 1;
}

.works__item {
    background-size: cover;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.works__item:hover {
    filter: brightness(60%);
}

.nature {
    background-image: url(IMG/nature.jpg);
    grid-column: 1 / 3;
}

.urban {
    background-image: url(IMG/urban.jpg);
    grid-column: 3;
    grid-row: 2 / 4; 
}

.people {
    background-image: url(IMG/people.jpg);
    /*height: calc((100vw - 100px) / 3);*/
}

.wedding {
    background-image: url(IMG/wedding.jpg);
    /*height: calc((100vw - 100px) / 3);*/
}

.architecture {
    background-image: url(IMG/architecture.jpg);
    grid-column: 1 / 3;
}

.animals {
    background-image: url(IMG/animals.jpg);
}

.caption {
    max-width: 200px;
    height: 80px;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    transition: all 0.5s;
}

.caption--video {
    color: black;
}



.caption h3 {
    font-family: var(--font-headers);
    font-size: 25px;
    text-transform: uppercase;
    line-height: 31px;
}

.caption h4 {
    font-family: var(--font-descriptions);
    font-weight: 500;
    font-size: 16px;
    line-height: 31px;
}

.caption__col--left, .caption__col--right {
    position: relative;
}

.caption__col--left::before {
    content: "";
    display: block;
    border-top: 2px solid white;
    border-left: 2px solid white;
    height: 24px;
}

.caption__col--left::after {
    content: "";
    display: block;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    height: 24px;
    width: 24px;
    position: absolute;
    top: calc(100% - 24px);
}

.caption__col--right::before {
    content: "";
    display: block;
    border-top: 2px solid white;
    border-right: 2px solid white;
    height: 24px;
}

.caption__col--right::after {
    content: "";
    display: block;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    height: 24px;
    width: 24px;
    position: absolute;
    top: calc(100% - 24px);
}

.caption__textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caption__textarea h3::after {
    content: "";
    display: block;
    width: 140px;
    height: 1.5px;
    background-color: white;
    margin: 5px auto 3px auto;
}

.caption__col--left, .caption__col--right {
    transition: transform 0.3s ease-in-out;
}

.works__item:hover .caption__col--left,
.works__item:hover .caption__col--right {
    transform: scale(1.7);
}

.architecture .caption {
    width: 260px;
}

.works__btn {
    margin: 80px auto 10px auto;
    width: 200px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-descriptions);
    font-weight: 500;
    color: white;
    background-color: var(--coral);
    grid-column: span 3;
    font-size: 16px;
}

.slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 290px 200px;
    margin-top: 100px;
}

.slider__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 1s;
}

.slider__title {
    font-family: var(--font-headers);
    font-size: 25px;
    color: var(--lighter-grey);
}

.slider__title::after {
    content: "";
    display: block;
    width: 35px;
    height: 3px;
    background-color: var(--coral);
    margin: 20px auto 40px auto;
}

.slider__quote {
    font-family: var(--font-descriptions);
    font-size: 18px;
    line-height: 25px;
    color: var(--lighter-grey);
    font-weight: 300;
}

.slider__author {
    font-family: var(--font-descriptions);
    font-size: 14px;
    line-height: 25px;
    color: #a0a0a0;
    font-weight: 300;
    margin: 25px auto;
}

.slider__item--left {
    grid-column: 1;
    transform: translateX(100%);
    opacity: 0;
}

.slider__item--right {
    grid-column: 3;
    transform: translateX(-100%);
    opacity: 0;
}

.slider__item--middle {
    grid-column: 2;
    opacity: 0;
}

.slider__item--active {
    opacity: 1;
}

.pagination {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items :center;
    align-self: start;
    margin-top: 10px;
}

.pagination__dot {
    margin: 0 5px;
    background-color: #d3d3d3;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.pagination__dot:hover {
    background-color: var(--coral);
    transform: scale(1.2);
    transition: all 0.2s;
}

.pagination__dot--active {
    background-color: var(--coral);
    transform: scale(1.2);
}

.caption--video {
    width: 70px;
    height: 55px;
    color: black;
    text-align: center;
    display: grid;
    grid-template-columns: 15px 1fr 15px;
    transition: all 0.5s;
    position: relative;
}

.caption--video::before {
    content: "";
    height: 1px;
    width: 160px;
    position: absolute;
    left: -180px;
    top: -55px;
    background-color: black;
    transform: rotate(30deg);
}

.caption--video::after {
    content: "";
    height: 1px;
    width: 160px;
    position: absolute;
    left: 90px;
    top: 110px;
    background-color: black;
    transform: rotate(30deg);
}

.caption__col--left, .caption__col--right {
    position: relative;
}

.caption__col--left--video::before {
    content: "";
    display: block;
    border-top: 1px solid black;
    border-left: 1px solid black;
    height: 15px;
}

.caption__col--left--video::after {
    content: "";
    display: block;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    height: 15px;
    width: 15px;
    position: absolute;
    top: calc(100% - 15px);
}

.caption__col--right--video::before {
    content: "";
    display: block;
    border-top: 1px solid black;
    border-right: 1px solid black;
    height: 15px;
}

.caption__col--right--video::after {
    content: "";
    display: block;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    height: 15px;
    width: 15px;
    position: absolute;
    top: calc(100% - 15px);
}

.video {
    background-image: url(IMG/video_background.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caption__subtitle {
    font-size: 12px;
    text-transform: uppercase;
    font-family: var(--font-descriptions);
    padding-top: 25px;
    position: absolute;
    left: -25px;
    top: 55px;
    width: 120px;
    text-align: center;
}

.caption__arrow {
    display: block;
    font-size: 30px;
    transition: 0.7s all;
    cursor: pointer;
}

.caption__arrow:hover {
    transform: rotate(360deg);
}

.follow-me {
    min-height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 50px;
}

.social__item {
    width: 55px;
    height: 55px;
    font-size: 22px;
    line-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 40px;
    color: var(--lighter-grey);
    position: relative;
    cursor: pointer;
}

.social__item a:link, .social__item a:visited {
    color: var(--lighter-grey);
}

.social__item:hover {
    background-color: var(--rose);
}

.social__item:hover a {
    color: white;
}

.social__item:hover::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid var(--rose);
    border-radius: 50%;
    width: 65px;
    height: 65px;
}   

.contact-me {
    min-height: 700px;
    background-image: url(IMG/contact_background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-me__subtitle {
    font-size: 14px;
    font-family: var(--font-descriptions);
    font-weight: 300;
    color: var(--lighter-grey);
    margin-bottom: 55px;
    text-align: center;
}

.contact-me__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 580px;
    position: relative;
    font-size: 13px;
    font-family: var(--font-descriptions);
}

.contact-me__form__input {
    flex-basis: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
    margin-bottom: 15px;
    border: 1px solid var(--coral);
}

.contact-me__form__input::placeholder, .contact-me__form textarea::placeholder {
    color: var(--lighter-grey);
}

.contact-me__form textarea {
    border: 1px solid var(--coral);
    flex-basis: 100%;
    resize: none;
    padding: 18px 0 0 30px;
    line-height: 16px;
    margin-bottom: 30px;
}

.labels {
    position: absolute;
    left: -999em;
}

.contact-me__form__info {
    font-family: var(--font-descriptions);
    font-weight: 300;
    font-size: 14px;
    line-height: 50px;
    color: var(--lighter-grey);
    padding-left: 30px;
}

.contact-me__form__submit {
    flex-basis: 150px;
    height: 50px;
    font-family: var(--font-descriptions);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
    background-color: var(--coral);
    color: white;
    cursor: pointer;
    transition: background-color .5s;
}

.contact-me__form__submit:hover {
    background-color: white;
    color: var(--coral);
    border: 1px solid var(--coral);
    /*box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);*/
}

.footer {
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__title, .footer__subtitle {
    font-family: var(--font-handwritten);
    color: black;
    font-style: italic;
}

.footer__title {
    margin-top: 25px;
    font-size: 21px;
}

.footer__subtitle {
    font-size: 15px;
    margin-bottom: 25px;
}

.footer__copyright {
    color: var(--lighter-grey);
    font-family: var(--font-descriptions);
    font-size: 12px;
}

.footer__arrow {
    background-image: url(IMG/arrow_black.png);
    width: 16px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: bottom;
    display: block;
    transition: all .5s;
}

.footer__arrow:hover {
    transform: translateY(-10px);
}

@media screen and (max-width: 850px) {
    .landing__arrow {
        display: none;
    }

    .landing__title {
        font-size: 26px;
    }

    .landing__subtitle {
        font-size: 39px;
    }

    .about-me {
        padding: 0 10%;
    }

    .navigation__list {
        padding: 20px 0 20px 0;
        display: none;
    }

    .ham-icon {
        display: block;
        margin-right: 70px;
    }

    .navigation {
        position: fixed;
        width: 100%;
    }

    .navigation__list--open {
        display: block;
        position: absolute;
        top: 61px;
        background-color: white;
        width: calc(100% - 50px);
        height: 200px;
    }

    .navigation__item {
        font-family: var(--font-descriptions);
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--grey);
        height: 50px;
        line-height: 50px;
        text-align: center;
        padding: 0;
    }
    
    .navigation__item:hover {
        border: none;
        padding: 0;
    }

    .works {
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  70px repeat(3, calc((100vw - 75px) / 2));
        margin-bottom: 100px;
    }

    .slider {
        padding-top: 100px;
    }

    .works__title {
        grid-column: 1 / 3;
    }
    .nature {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .urban {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .people {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    .wedding {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
    .architecture {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
    .animals {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    .works__item h3 {
        font-size: 20px;
    }

    .works__item h4 {
        font-size: 14px;
    }
    .works__btn {
        grid-column: span 1;
    }
}

@media screen and (max-width: 600px) {
    .works {
        grid-template-columns: 1fr;
        grid-template-rows:  70px repeat(6, calc(100vw - 50px));
    }

    .landing {
        padding: 0 30px;
    }

    .works__item {
        grid-column: span 1;
        grid-row: span 1;
    }
    .works__title {
        grid-column: 1 / 2;
    }

    .landing__subtitle {
        font-size: 30px;
        text-align: center;
    }

    .landing__description {
        width: 80%;
    }

    .contact-me__form {
        width: calc(100% - 40px);
        padding: 0 20px;
        justify-content: center;
    }

    .contact-me__subtitle {
        padding: 0 20px;
    }
}











